hypertension/statemachine/hypertension.asl.json
{
  "Comment": "A state machine that uses medical record data to determine hypertension disability level",
  "StartAt": "Determine Applicability",
  "States": {
    "Determine Applicability": {
      "Type": "Task",
      "Resource": "${ApplicabilityDeterminerFunctionArn}",
      "Next": "Is It Applicable?"
    },
    "Is It Applicable?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.claim_status.applicable",
          "BooleanEquals": true,
          "Next": "Locate Medical Record"
        },
        {
          "Variable": "$.body.claim_status.applicable",
          "BooleanEquals": false,
          "Next": "Not Applicable State"
        }
      ]
    },
    "Not Applicable State" : {
      "Type" : "Fail",
      "Error": "NotApplicableError",
      "Cause": "Claim not benefit type"
    },
    "Locate Medical Record": {
      "Type": "Task",
      "Resource": "${MedicalRecordLocatorFunctionArn}",
      "Next": "Does Claim Have Associated Medical Data?"
    },
    "Does Claim Have Associated Medical Data?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.claim_status.icn",
          "IsNull": false,
          "Next": "Retrieve Medical Data"
        },
        {
          "Variable": "$.body.claim_status.icn",
          "IsNull": true,
          "Next": "Medical Record Missing State"
        }
      ]
    },
    "Medical Record Missing State" : {
      "Type" : "Fail",
      "Error": "MedicalRecordMissingError",
      "Cause": "Missing associated medical record"
    },
    "Retrieve Medical Data": {
      "Type": "Task",
      "Resource": "${MedicalDataRetrieverFunctionArn}",
      "Next": "Is Sufficient Data Available?"
    },
    "Is Sufficient Data Available?": {
      "Type": "Choice",
      "Choices": [
        {
          "Variable": "$.body.claim_status.hasEnoughData",
          "BooleanEquals": true,
          "Next": "Classify Claim"
        },
        {
          "Variable": "$.body.claim_status.hasEnoughData",
          "BooleanEquals": false,
          "Next": "Insufficient Data State"
        }
      ]
    },
    "Insufficient Data State" : {
      "Type" : "Fail",
      "Error": "InsufficientDataError",
      "Cause": "Inssuficient medical data"
    },
    "Classify Claim": {
      "Type": "Task",
      "Resource": "${ClaimClassifierFunctionArn}",
      "Next": "Update Record"
    },
    "Update Record": {
      "Type": "Task",
      "Resource": "${RecordUpdaterFunctionArn}",
      "End":true
    }
  }
}